<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('/css/style.css')}}" type="text/css" rel="stylesheet">
            <link href="{{ asset('/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
	        <link rel="stylesheet" href="{{ asset('/font-awesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/leaflet/leaflet.css') }}">
            <link rel="icon" href="favicon.ico" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('jquery/jquery-3.4.1.min.js') }}"></script>
            <script src="{{ asset('bootstrap/dist/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('leaflet/leaflet.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
     
        
        {% endblock %}
    </body>
</html>
